/*
 * Copyright (c) 2021 Nordic Semiconductor ASA
 * SPDX-License-Identifier: Apache-2.0
 */

/* This devicetree overlay file will be automatically picked by the Zephyr
 * build system when building the sample for the nucleo_f302r8 board. It shows
 * how the example-application can be built on sample boards already provided
 * by Zephyr.
 */

/ {
    robomaster_controller: robomaster-controller {
        compatible = "dji,robomaster";
        #address-cells = <1>;
        #size-cells = <0>;
        cans = <&fdcan1>;
        feedback-timeout-ms = <100>;

        motor_front_left: motor@1 {
            compatible = "dji,robomaster-motor";
            reg = <1>;
            model = "c620";
            max-current = <10000>;
        };

        motor_front_right: motor@2 {
            compatible = "dji,robomaster-motor";
            reg = <2>;
            model = "c620";
            max-current = <10000>;
        };
    };
};
