/*
 * Copyright (c) 2021 Nordic Semiconductor ASA
 * SPDX-License-Identifier: Apache-2.0
 */

/* This devicetree overlay file will be automatically picked by the Zephyr
 * build system when building the sample for the nucleo_f302r8 board. It shows
 * how the example-application can be built on sample boards already provided
 * by Zephyr.
 */

/ {
	robomaster_controller: robomaster_controller {
		compatible = "dji,robomaster";

		canbus = <&fdcan1>;
		auto-probe;

		motor_0: motor_0 {
			compatible = "dji,robomaster-motor";
			motor-id = <1>;
		};
	};
};
